/*----------- FONTS -----------*/
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;600;800&display=swap');

/*----------- VARIABLES -----------*/

:root{
    /* Backgrounds colors */
    --background: #02050e;
    --primary: #1e50ff;
    --secondary: #003F62;
    --btn-bg: #051135;
    --bg-azul: #e9eeff;
    --bg-white: #e4dede;
    --bg-lightblue: #5B95B5;
    --bg-babyblue: #9cc9e2d8;
    --bg-nav: #0f1525;

    /* Text colors */
    --text-white: #ffffff;
    --text-grayWhite: #adb9c7;
    --text-gray: #8c9197;
    --text-darkgray: #5a5e63;
}

/*----------- RESET -----------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
    text-decoration: none;
    /*list-style-type: none;*/
}

/*----------- HEADER -----------*/

header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
    
    position: fixed;
    top: 0;
    z-index: 2;
}

#encabezado{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 3rem;
    background: var(--bg-white);
}
.infoSecundaria{
    display: flex;
}
nav{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    background: var(--secondary);
    width: 100%;
    justify-items:center;
}
#navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
    
}
.logo{
    max-width: 9rem;
}
#buscador{
    max-width: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    background-color: var(--bg-white);
    height: 3rem;
    border-radius: 10px;
    gap: 2rem;
    padding-left: 1rem;
}

#buscador button{
    background-color: var(--bg-lightblue);
    border: hidden;
    padding: 0.5rem;
    border-radius: 10px;
    height: 3rem;
    width: 5rem;
    font-weight: bold;
    font-size: medium;
}
.informacion, .informacion2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    font-size: sm;
}
.informacion2{
    color: var(--text-white);
}
.informacion img, .informacion2 img{
    max-width: 2.5rem;
    max-height: 2rem;
}
.informacion2 a:link,.informacion2 a:visited,.informacion2 a:active {
    text-decoration:none;
    color: var(--text-white);
}
#iconMenu{
    display: none;
}
#toggle-menu{
    display: none;
}
#menu{
    display: flex;
    
    background-color: var(--bg-white);
    text-align: center;
    list-style-type: none;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 10rem;
}

#menu li a{
    width: 15%;
    height: 2rem;
    color: var(--background);
    font-weight: 600;
}
#menu li:last-child{
    background-color: var(--bg-lightblue);
    position: absolute;
    right: 0;
    width: 20%;
}
/*----------- MAIN INDEX-----------*/
main{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding-top: 11rem;
    align-items: center;
}
#portada{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
#portada img{
    max-width: 60rem;

}

#categorias{
    height:8rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}
.cardCateg{
    display: flex;
    border: solid;
    border-radius: 10px;
    border-color: #8c9197;
    padding: 1rem;
    width: 23%;
    border-width: 1.5px;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
}
.cardCateg img{
    height: 7rem;
}

#productosRiel{
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
#rielProd{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 4rem;
}
.cardProduct{
    display: flex;
    flex-direction: column;
    border: solid;
    border-radius: 10px;
    border-color: #8c9197;
    padding: 1rem;
    border-width: 1.5px;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    font-size: 19px;
    width: 15rem;
    height: 18rem;
}
.cardProduct img{
    height: 6.5rem;
    max-width: 7rem;
}
.cardProduct button{
    background-color: var(--bg-lightblue);
    border-style: hidden;
    padding: 0.5rem;
    border-radius: 20px;
    font-weight: bold;
}

#callToAction{
    background-image: url(/Images/baner/0803-kaloductosjpg.webp) ;
    background-repeat: no-repeat;
    height: 30rem;
    display: flex;
    width: 80%;
    border-radius: 20px;
    background-size: 100%;
    position: relative;
}
#callToAction button{
    height: 5rem;
    width: 9rem;
    border-radius: 20px;
    background-color: var(--secondary);
    color: var(--bg-white);
    border-color: #8c9197;
    position: absolute;
    bottom: 20%;
    right: 15%;
    
}

#beneficios{
    display: flex;
    width: 80%;
    background-color: var(--bg-babyblue);
    border-radius: 20px;
    justify-content: space-around;
    padding: 2.5rem 0;
}
.cardBeneficio{
    color: var(--secondary);
    text-align: center;
    display: flex;
    gap: 1rem;
}
.cardBeneficio img{
    height: 4rem;
}
#testimonios{
    display: flex;
}
/*----------- FOOTER -----------*/
footer{
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    align-items: center;
    color: var(--secondary);
}
#contacto{
    display: flex;
    background-color: var(--bg-lightblue);
    padding: 1rem 0;
    width: 87%;
    border-radius: 20px;
    border-style: dashed;
    border-color: #003F62;
    justify-content: space-evenly;
    align-items: center;
}
#correo{
    display: flex;
    background-color: var(--bg-white);
    width: 40%;
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
}
#correo img{
    height: 4rem;
}
footer section{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 18rem;
    align-items: center;
    color: #050d26;
}
#redes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: small;
    align-items: center;
    gap: 1rem;
}
#redes img{
    height: 7rem;
   
}
#imgRedes{
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}
#imgRedes img{
    height: 2rem;
    width: 2rem;
}
#ayuda{
    padding-left: 2.5rem;
    list-style-type: circle;
}

/*----------- Inicio de Sesión -----------*/
#logoInicio{
    height: 6rem;
    
}
.inicioSesion{
    background: rgb(0,63,98);
    background: linear-gradient(49deg, rgba(0,63,98,1) 26%, rgba(74,121,147,1) 59%, rgba(5,17,53,1) 91%);
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.center{
    width: 30%;
    background-color: var(--bg-white);
    border-radius: 20px;
}
.center h1{
    text-align: center;
    padding-top: 1rem;
    border-bottom: 1px solid silver;
}
.center form{
    padding: 0 3rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-top: 2rem;
}

form .campoTexto {
    position: relative;
    border-bottom: 2px solid var(--text-gray) ;
    width: 100%;
}

.campoTexto input{
    width: 100%;
    padding: 0 0.5rem;
    height: 2.5rem;
    font-size: 16px;
    background: none;
    border-style: hidden;
}

.pass{
    color: var(--text-darkgray);
    font-weight: bold;
    cursor: pointer;
}

.pass:hover{
    text-decoration: underline;
}

.bttn{
    height: 3rem;
    border-radius: 20px;
    background-color: var(--secondary);
    border: 1px solid;
    color: var(--text-white);
    font-weight: bold;
    font-size: 19px;
    cursor: pointer;
}
.bttn:hover{
    border-color: var(--primary);
}
.registrarse{
    padding-bottom: 1.3rem ;
    display: flex;
    justify-content: space-between;
    color: var(--text-darkgray);   
    align-items: center;
    padding-left: 2rem;
    text-align: center;
}
.registrarse a:link,.registrarse a:visited,.registrarse a:active {
    text-decoration:none;
    color: var(--text-darkgray);
    font-weight: bold;
    background-color: var(--bg-babyblue);
    padding: 0.5rem;
    border-radius: 20px;

}
.registrarse a:hover{
    color: var(--secondary);
}

@media(max-width: 768px) {
    
    nav{
        flex-direction: row;
        align-items: center;
        height: 4rem;
        width: 100%;
        justify-content: space-between;
        padding-right: 2rem;
    }
    #navbar{
        width: 80%;
    }
    #buscador{
        display: none;
    }
    #iconMenu{
        display: block;
        height: 2.5rem;
    }
    #menu{
        flex-direction: column;
        position: absolute;
        top: 7rem;
        right: 0;
        width: 100%;
        height: 50vh;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        display: none;
        padding-left: 12rem;
    }
    #menu p{
        display: none;
    }
    #menu li:last-child{
        position: static;
        background-color: var(--bg-white);
    }
    #toggle-menu:checked ~ #menu {
        display: flex;
    }

    /*----------- MAIN INDEX-----------*/
    #portada img{
        max-width: 90vh;
    }
    #categorias{
        display: none;
    }
    #rielProd{
        flex-wrap: wrap;
    }
    #callToAction{
        height: 18rem;
    }
    #callToAction button{
        height: 4rem;
        width: 7rem;
        bottom: 15%;
        right: 10%;
    }
    #beneficios {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        gap: 3rem;
    }
    /*----------- FOOTER -----------*/
    footer{
        gap: 2rem;
    }
    #contacto{
        text-align: center;
        flex-wrap: wrap;
        height: 10rem;
    }
    #ayuda, footer section h4{
        display: none;
    }
    /*----------- Inicio de Sesión -----------*/
    .center{
        width: 50%;
    }
    .registrarse{
        padding-left: 1rem;
    }
}

@media(max-width: 420px){
   
    /*----------- HEADER -----------*/
    nav{
        gap: 0;
        justify-content: center;
        padding: 0;
        width: 100%;
    }
    .infoSecundaria{
        display: none;
    }
    #encabezado{
        padding-left: 2rem;
    }
    .informacion2 img{
        display: none;
    }
    #navbar{
        justify-content: space-between;
        width: 50%;
        position: absolute;
        left: 0;
    }
    #iconMenu{
        position: absolute;
        right: 2px;
        bottom: 10%;
    }
    .logo{
        padding: 0.3rem;
    }
    #menu{
        padding-left: 5rem;
    }
    /*----------- MAIN INDEX-----------*/
    #portada img{
        max-width: 50vh;
    }
    #callToAction button{
        height: 4rem;
        width: 100%;
        bottom: 0%;
        right: 0%;
        border-radius: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    #callToAction{
        height: 14rem;
        width: 22rem;
    }
    #beneficios {
        width: 90%;
    }
    /*----------- FOOTER -----------*/
    iframe{
        display: none;
    }
    #contacto{
        flex-direction: column;
        height: 15rem;
        justify-content: space-evenly;
        padding: 0 1rem;
        margin: 0;
    }
    #correo{
        width: 97%;
    }
    /*----------- Inicio de Sesión -----------*/
    .center{
        width: 90%;
    }
    .registrarse{
        padding-left: 0;
    }
}